<%- include('../partials/header') %>

<main class="main" id="heroSingleMain">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>Powers</h2>
                <ul class="list-group list-group-flush" id="heroPowersList">
                    <% heroPowers.forEach(heroPower => { %>
                        <li class="list-group-item heropower-list-item">
                            <a href="#" class="heropower-link">
                                <%= heroPower.power %>
                            </a>
                        </li>
                    <% }) %>
                </ul>
            </div>
            <div class="col-md-7">
                <img src="https://placehold.co/50x50"alt="placeholder img" class="img-fluid image" />
                
            </div>
            <div class="col-md-2">
                <%- include('../partials/heroAside') %>
            </div>
        </div>
    </div>
</main>

<%- include('../partials/footer') %>